<link rel="stylesheet" href="{{ url_for('static', filename='css/modal_filter.css') }}">

<form method="POST" action="">
  <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <div class="mt-3">
            <label class="form-label">Bidang Keahlian</label>
            <select class="form-select" name="bidang_keahlian">
              <option value="">Pilih Bidang</option>
              <option value="jaringan">Jaringan</option>
              <option value="administrasi">Administrasi</option>
              <option value="multimedia">Multimedia</option>
            </select>
          </div>

          <div class="mt-3">
            <label class="form-label">Durasi PKL</label>
            <select class="form-select" name="durasi_pkl">
              <option value="">Pilih Durasi</option>
              <option value="pendek">Pendek</option>
              <option value="sedang">Sedang</option>
              <option value="panjang">Panjang</option>
            </select>
          </div>

          <div class="mt-3">
            <label class="form-label">Fasilitas</label>
            <select class="form-select" name="fasilitas_level">
              <option value="">Pilih Fasilitas</option>
              <option value="kurang">Kurang</option>
              <option value="sedang">Sedang</option>
              <option value="sangat lengkap">Sangat Lengkap</option>
            </select>
          </div>

          <div class="mt-3">
            <label class="form-label">Kuota</label>
            <select class="form-select" name="kuota">
              <option value="">Pilih Kuota</option>
              <option value="sedikit">Sedikit</option>
              <option value="sedang">Sedang</option>
              <option value="banyak">Banyak</option>
            </select>
          </div>

          <div class="mt-3">
            <label class="form-label">Jarak</label>
            <select class="form-select" name="jarak">
              <option value="">Pilih Jarak</option>
              <option value="1">Dekat (&le; 5 km)</option>
              <option value="2">Sedang (5–10 km)</option>
              <option value="3">Jauh (&gt; 10 km)</option>
            </select>
          </div>

          <div class="mt-3 text-end">
            <button type="submit" class="btn btn-warna-filter btn-sm">Rekomendasi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
