<link rel="stylesheet" href="{{ url_for('static', filename='css/modal_masuk.css') }}">

<!-- Modal -->
<div class="modal fade " id="modalMasuk" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content  ">
      <div class="modal-header ">
        <h5 class="modal-title  " id="modalLabel">Login</h5>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form Content -->
        <form action="{{ url_for('auth.login') }}" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-warna">Login</button>
        </form>

        <div class="title mt-3 ">
          <p class="mb-0">Belum Punya Akun? <a href="#" data-bs-toggle="modal" data-bs-target="#modalDaftar">Daftar</a></p>
          <p class="mb-0">Lupa Password? <a href="#">Reset</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
