
.card-img-top {
    object-fit: cover;
    height: 320px;
  }
  
  h2 {
    font-size: 2rem;
    color: #343a40;
  }
  
  .btn-primary {
    background-color: #00B298 ;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #028d78 !important;
  }
  