.card {
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

.badge {
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0.6em 1em;
    border-radius: 1rem;
}

.btn {
    border-radius: 15px;
    min-width: 60px;
    transition: 0.2s ease-in-out;
    font-weight: 500;
}


/* .btn-warning {
   color: aliceblue !important;
} */


.btn:hover {
    opacity: 0.9;
}

.d-flex.flex-column.align-items-end.gap-2 > form {
    margin: 0;
}
