<footer class="footer bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Platform PKL Siswa</h5>
                <p class="mb-1">Membantu siswa menemukan tempat PKL terbaik sesuai minat dan bakat.</p>
                <p>&copy; 2025 SMK Muhammadiyah 18 P. Berandan. All rights reserved.</p>
            </div>
            <div class="col-md-3">
                <h5>Menu</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('index') }}" class="text-white">Beranda</a></li>
                    <li><a href="{{ url_for('pilih_pkl') }}" class="text-white">Pilih Tempat PKL</a></li>
                    <li><a href="#syarat" class="text-white">Syarat PKL</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Kontak</h5>
                <p class="mb-1">Email: info@pklsiswa.id</p>
                <p>Telp: (061) 12345678</p>
            </div>
        </div>
    </div>
</footer>